/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Segoe-UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Segoe-UI-Bold.woff") format("woff");
}

/* GENERAL STYLES */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.profile-wrapper {
  position: relative;
}

.profile-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.home-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.container {
  max-width: 1640px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 630px) {
  .container {
    padding: 0;
  }
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 15px 90px;
  background-color: #1D9BF0;
  border: none;
  border-radius: 27.5px;
  cursor: pointer;
}

.button:hover {
  background-color: #1d85ca;
}

.res-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1D9BF0;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  display: none;
}

.res-button:hover {
  background-color: #1d85ca;
}

@media only screen and (max-width: 1630px) {
  .res-button {
    display: block;
  }
}

.logo {
  display: inline-block;
  margin-bottom: 49px;
  margin-left: 15px;
}

.logo__img {
  display: block;
  width: 40px;
  height: 33px;
}

/* NAVBAR */
.navbar__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__reslist {
  display: none;
}

.navbar__item {
  display: inline-block;
  padding-bottom: 5px;
}

.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-decoration: none;
  color: #000000;
  padding: 12px 0;
  padding-left: 12px;
  padding-right: 15px;
  border-radius: 30px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.navbar__item:hover .navbar__link {
  background-color: rgba(29, 156, 240, 0.1);
}

.navbar__img {
  display: block;
  width: 28px;
  height: 28px;
}

.navbar__text {
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}

@media only screen and (max-width: 1630px) {
  .navbar__text {
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  .navbar__reslist {
    display: block;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    z-index: 100;
    bottom: 0;
    background-color: #fff;
    padding: 15px 20px;
  }
  .navbar__img {
    width: 28px;
    height: 28px;
  }
}

@media only screen and (max-width: 400px) {
  .navbar__reslist {
    padding: 8px 15px;
  }
  .navbar__reslist-img {
    width: 24px;
    height: 24px;
  }
}

.left-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 284px;
  padding-top: 30px;
  padding-right: 50px;
}

.left-inner {
  height: 100%;
}

.left-inner__bottom {
  text-decoration: none;
  color: #000000;
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 15px;
  border-radius: 50px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.left-inner__bottom:hover {
  background-color: rgba(29, 156, 240, 0.1);
}

.left-inner__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.left-inner__about {
  margin-left: 10px;
}

.left-inner__name {
  line-height: 21px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 3px;
}

.left-inner__usrname {
  line-height: 21px;
  opacity: 0.6;
  margin: 0;
}

.left-inner__dots {
  margin-left: 42px;
}

@media only screen and (max-width: 1630px) {
  .left-wrapper {
    width: 100px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    height: 100vh;
    top: 0;
    left: auto;
    overflow: auto;
    padding-right: 70px;
    margin-left: auto;
  }
  .left-wrapper {
    margin-right: 0px;
  }
  .left-inner__bottom {
    position: relative;
    padding: 0;
    margin-top: 50px;
  }
  .left-inner__about {
    display: none;
  }
  .left-inner__dots {
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  .left-wrapper {
    display: none;
  }
}

/* CENTER */
.center {
  max-width: 910px;
  border-left: 1px solid #cccc;
  border-right: 1px solid #cccc;
  margin-right: auto;
}

.center__header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 200;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

.center__header-back {
  display: inline-block;
  padding: 10px 8px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.center__header-back:hover {
  background-color: rgba(29, 156, 240, 0.1);
}

.center__header-person {
  margin-left: 30px;
}

.center__header-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2px;
}

.center__header-tweets {
  line-height: 21px;
  opacity: 0.6;
  margin: 0;
}

.center__hero-bg {
  display: block;
  height: 280px;
  width: 905px;
  background-image: url("../../img/profile-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.center__hero-img {
  display: block;
  position: relative;
  top: 205px;
  left: 25px;
  border-radius: 50%;
}

.center__hero-content {
  width: 100%;
  padding: 0 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.center__hero-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.center__hero-button:hover {
  background-color: rgba(29, 156, 240, 0.1);
}

.center__hero-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  margin-top: 21px;
}

.center__hero-username {
  line-height: 21px;
  opacity: 0.6;
  margin: 0;
  margin-bottom: 15px;
}

.center__hero-position {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.center__hero-position--link {
  color: #1D9BF0;
  text-decoration: none;
}

.center__hero-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  gap: 20px;
}

.center__hero-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center__hero-item:nth-child(1)::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../img/place.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  content: "";
}

.center__hero-item:nth-child(2)::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../img/link.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  content: "";
}

.center__hero-item:nth-child(3)::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../img/born.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  content: "";
}

.center__hero-item:nth-child(4)::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../img/kalendar.png");
  background-repeat: no-repeat;
  margin-right: 5px;
  content: "";
}

.center__hero-text {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
  margin: 0;
}

.center__hero-link {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #1D9BF0;
}

.center__hero-follow {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center__hero-follow-item {
  margin-right: 30px;
}

.center__hero-follow-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  font-weight: 700;
}

.center__hero-follow-text--thin {
  font-weight: 400;
  opacity: 0.6;
}

.center__tweets-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  border-bottom: 1px solid #cccc;
}

.center__menu-item:nth-child(1) {
  font-weight: 700;
}

.center__menu-item:nth-child(1)::after {
  display: block;
  width: 100%;
  height: 5px;
  background: #1DA1F2;
  border-radius: 4px;
  margin-top: 10px;
  content: "";
}

.center__menu-link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 15px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.center__menu-link:hover {
  background-color: rgba(29, 156, 240, 0.1);
}

.center__pinned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 21px;
  font-weight: 600;
  color: #536471;
  margin: 0;
  margin-left: 50px;
  padding-top: 15px;
}

.center__pinned::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 18px;
  background-image: url("../../img/pin.png");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.center__pinned-tweets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.center__pinned-link {
  text-decoration: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  padding-top: 10px;
  padding-bottom: 21px;
  border-bottom: 1px solid #ccc;
}

.center__pinned-item {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.center__pinned-item:hover {
  background-color: rgba(29, 156, 240, 0.1);
}

.center__tweet-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.center__tweet-content {
  margin-left: 15px;
}

.center__tweet-name {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin: 0;
  margin-bottom: 5px;
}

.center__tweet-name:hover {
  text-decoration: underline;
}

.center__tweet-span {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
}

.center__tweet-text {
  max-width: 747px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 22px;
}

.center__tweet-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.like-fill {
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.center__tweet-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 21px;
  color: #536471;
  cursor: pointer;
}

.center__tweet-item > svg {
  margin-right: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.center__tweet-item > svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.center__tweet-item:nth-child(1):hover {
  color: #1D9BF0;
}

.center__tweet-item:nth-child(1):hover svg {
  background-color: rgba(29, 160, 242, 0.1);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 8px rgba(29, 160, 242, 0.1);
          box-shadow: 0 0 0 8px rgba(29, 160, 242, 0.1);
}

.center__tweet-item:nth-child(1):hover svg path {
  fill: #1D9BF0;
}

.center__tweet-item:nth-child(2):hover {
  color: #0CB245;
}

.center__tweet-item:nth-child(2):hover svg {
  background-color: rgba(12, 178, 70, 0.1);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 8px rgba(12, 178, 70, 0.1);
          box-shadow: 0 0 0 8px rgba(12, 178, 70, 0.1);
}

.center__tweet-item:nth-child(2):hover svg path {
  fill: #0CB245;
}

.center__tweet-item:nth-child(3):hover {
  color: #EF1C5C;
}

.center__tweet-item:nth-child(3):hover svg {
  background-color: rgba(239, 28, 91, 0.1);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 8px rgba(239, 28, 91, 0.1);
          box-shadow: 0 0 0 8px rgba(239, 28, 91, 0.1);
}

.center__tweet-item:nth-child(3):hover svg path {
  fill: #EF1C5C;
}

.center__tweet-item:nth-child(3):hover .like-fill {
  display: block;
}

.center__tweet-item:nth-child(4):hover {
  color: #1D9BF0;
}

.center__tweet-item:nth-child(4):hover svg {
  background-color: rgba(29, 160, 242, 0.1);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 8px rgba(29, 160, 242, 0.1);
          box-shadow: 0 0 0 8px rgba(29, 160, 242, 0.1);
}

.center__tweet-item:nth-child(4):hover svg path {
  fill: #1D9BF0;
}

.center__tweet-item:nth-child(5):hover {
  color: #0CB245;
}

.center__tweet-item:nth-child(5):hover svg {
  background-color: rgba(12, 178, 70, 0.1);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 8px rgba(12, 178, 70, 0.1);
          box-shadow: 0 0 0 8px rgba(12, 178, 70, 0.1);
}

.center__tweet-item:nth-child(5):hover svg path {
  fill: #0CB245;
}

.center__tweet-item-green {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 21px;
  color: #0CB245;
  font-weight: 600;
}

.center__tweet-item-green::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url("../../img/retweet-fill.png");
  content: "";
}

.center__tweet-item-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 21px;
  color: #EF1C5C;
  font-weight: 600;
}

.center__tweet-item-red::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url("../../img/like-fill.png");
  content: "";
}

.center__tweet-dots {
  display: inline-block;
}

.center__tweet-dots img {
  display: block;
  width: 17px;
  height: 4px;
}

.center__tweet-big-img {
  display: block;
  width: 679px;
  height: 453px;
  margin-bottom: 22px;
}

@media only screen and (max-width: 1630px) {
  .center {
    width: 870px;
  }
  .center__hero-bg {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (max-width: 1300px) {
  .center {
    width: 800px;
  }
}

@media only screen and (max-width: 900px) {
  .center {
    width: 700px;
  }
  .center__tweet-big-img {
    width: 90%;
    height: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .center {
    max-width: 630px;
  }
  .center__hero-img {
    width: 120px;
    height: 120px;
    top: 220px;
  }
}

@media only screen and (max-width: 400px) {
  .center__header {
    padding-left: 15px;
  }
  .center__hero-content {
    padding: 0 10px;
  }
  .center__tweet-name {
    margin-bottom: 0;
    line-height: 18px;
  }
  .center__tweet-span {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .center__pinned-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .center__header {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
  }
  .center__header-back img {
    width: 18px;
    height: 15px;
  }
  .center__header-person {
    margin-left: 15px;
  }
  .center__header-name {
    font-size: 18px;
    line-height: 24px;
  }
  .center__header-tweets {
    font-size: 14px;
    line-height: 18px;
  }
  .center__hero-bg {
    height: 200px;
  }
  .center__hero-img {
    width: 100px;
    height: 100px;
    top: 150px;
  }
  .center__hero-button {
    font-size: 16px;
    line-height: 21px;
  }
  .center__hero-name {
    font-size: 22px;
    margin-top: 0px;
  }
  .center__hero-username {
    font-size: 15px;
    line-height: 19px;
  }
  .center__hero-position {
    font-size: 16px;
    line-height: 21px;
  }
  .center__hero-list {
    gap: 10px;
  }
  .center__hero-text {
    font-size: 16px;
    line-height: 21px;
  }
  .center__hero-link {
    font-size: 16px;
    line-height: 21px;
  }
  .center__hero-follow-text {
    font-size: 16px;
    line-height: 21px;
  }
  .center__tweets-menu {
    padding: 0 10px;
  }
  .center__menu-link {
    font-size: 14px;
  }
  .center__pinned-link {
    padding-left: 15px;
    padding-right: 15px;
  }
  .center__tweet-img {
    width: 40px;
    height: 40px;
  }
  .center__tweet-name {
    font-size: 18px;
  }
  .center__tweet-span {
    font-size: 16px;
  }
  .center__tweet-text {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  .center__tweet-item {
    font-size: 14px;
    margin: 0;
  }
  .center__tweet-item svg {
    width: 20px;
    margin-right: 5px;
  }
}

.home-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid #cccccc;
}

.center__header-heading {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.center__main {
  padding: 15px 20px;
  border-bottom: 1px solid #cccccc;
}

.center__main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center__heading-link path {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.center__heading-link:hover path {
  fill: #1D9BF0;
}

.center__main-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.center__home-textarea {
  font-size: 22px;
  line-height: 19px;
  font-weight: 600;
  padding-top: 20px;
  margin-left: 15px;
  resize: none;
  display: block;
  height: 100px;
  border: none;
  outline: none;
}

.center__home-textarea::-webkit-input-placeholder {
  font-size: 22px;
  line-height: 19px;
  font-weight: 600;
  color: #828282;
}

.center__home-textarea:-ms-input-placeholder {
  font-size: 22px;
  line-height: 19px;
  font-weight: 600;
  color: #828282;
}

.center__home-textarea::-ms-input-placeholder {
  font-size: 22px;
  line-height: 19px;
  font-weight: 600;
  color: #828282;
}

.center__home-textarea::placeholder {
  font-size: 22px;
  line-height: 19px;
  font-weight: 600;
  color: #828282;
}

.center__main-botom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center__main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 75px;
  gap: 20px;
}

.center__main-link path {
  -webkit-transition: fill 0.3s ease;
  transition: fill 0.3s ease;
}

.center__main-link:hover path {
  fill: #1D9BF0;
}

.center__home-btn {
  padding: 16px 30px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.center__home-btn:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 500px) {
  .home-header {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .center__header-heading {
    font-size: 20px;
    line-height: 26px;
  }
  .center__heading-link svg {
    width: 20px;
  }
  .center__main {
    padding: 10px 15px;
  }
  .center__main-img {
    width: 40px;
    height: 40px;
  }
  .center__home-textarea {
    font-size: 16px;
    line-height: 15px;
  }
  .center__home-textarea::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 15px;
  }
  .center__home-textarea:-ms-input-placeholder {
    font-size: 18px;
    line-height: 15px;
  }
  .center__home-textarea::-ms-input-placeholder {
    font-size: 18px;
    line-height: 15px;
  }
  .center__home-textarea::placeholder {
    font-size: 18px;
    line-height: 15px;
  }
  .center__main-list {
    margin-left: 10px;
    gap: 10px;
  }
  .center__main-link svg {
    width: 20px;
  }
  .center__home-btn {
    font-size: 16px;
    line-height: 21px;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 375px) {
  .center__home-textarea {
    width: 90%;
  }
}

.right {
  padding-top: 20px;
  padding-left: 30px;
  margin-right: auto;
}

.right__serch-box {
  position: -webkit-sticky;
  position: sticky;
  z-index: 200;
  top: 0;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.877);
}

.right__search {
  position: relative;
}

.right__search::before {
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 20px;
  width: 24px;
  height: 24px;
  background-image: url("../../img/search.png");
  content: "";
}

.right__input {
  font-size: 18px;
  line-height: 24px;
  color: #5C6C79;
  padding: 15px 0;
  padding-left: 64px;
  width: 380px;
  background-color: #EFF3F4;
  margin-bottom: 11px;
  border: none;
  border-radius: 31px;
  outline: none;
}

.right__images {
  max-width: 373px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2px;
  margin-bottom: 20px;
}

.right__item-img {
  display: block;
  width: 123px;
  height: 88px;
}

.right__recommend {
  max-width: 373px;
  padding-top: 20px;
  background-color: #F7F9F9;
  border-radius: 10px;
  margin-bottom: 20px;
}

.right__recommend-heading {
  font-size: 24px;
  line-height: 32px;
  padding-left: 15px;
  margin: 0;
  margin-bottom: 15px;
}

.right__recommend-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.right__item-link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: #000000;
  padding-left: 15px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.right__item-link:hover {
  background-color: rgba(29, 156, 240, 0.1);
}

.right__recommend-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.right__recommend-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.right__recommend-about {
  margin-left: 13px;
}

.right__recommend-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}

.right__recommend-username {
  font-size: 18px;
  line-height: 24px;
  opacity: 0.6;
  margin: 0;
}

.right__recommend-btn {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding: 10px 18px;
  background-color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.right__recommend-resbtn {
  display: none;
  color: #ffffff;
  padding: 10px 12px;
  background-color: #000000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.right__recommend-link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #1D9BF0;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.right__recommend-link:hover {
  background-color: rgba(29, 156, 240, 0.1);
}

.right__trends {
  max-width: 373px;
  padding-top: 20px;
  background-color: #F7F9F9;
  border-radius: 10px;
}

.right__trends-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.right__trends-heading {
  font-size: 24px;
  line-height: 32px;
  padding-left: 16px;
  margin: 0;
}

.right__trends-setting {
  display: inline-block;
}

.right__trends-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.right__trends-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right__trend-link {
  text-decoration: none;
  color: #000000;
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.right__trend-link:hover {
  background-color: rgba(29, 156, 240, 0.1);
}

.right__trends-text {
  line-height: 21px;
  color: #393B41;
  opacity: 0.6;
  margin: 0;
}

.right__item-heading {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 3px;
}

.right__trends-setting {
  padding-right: 15px;
}

.right__trends-more {
  display: inline;
  margin-top: 17px;
}

.right__trends-link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #1D9BF0;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.right__trends-link:hover {
  background-color: rgba(29, 156, 240, 0.1);
}

@media only screen and (max-width: 1370px) {
  .right__input {
    width: 300px;
  }
  .right__images {
    display: none;
  }
  .right__recommend-btn {
    display: none;
  }
  .right__recommend-resbtn {
    display: block;
  }
}

@media only screen and (max-width: 1220px) {
  .right {
    display: none;
  }
}
