

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Segoe-UI.woff") format("woff");
  }
  
  

  @font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Segoe-UI-Bold.woff") format("woff");
  }
  
