.button {
  font-size: $font-size-min;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 15px 90px;
  background-color: $color-blue;
  border: none;
  border-radius: 27.5px;
  cursor: pointer;
}