.button {
  font-size: $font-size-min;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 15px 90px;
  background-color: $color-blue;
  border: none;
  border-radius: 27.5px;
  cursor: pointer;
}
.button:hover {
  background-color: #1d85ca;
}
.res-button {
  @include flex(center,center);
  background-color: $color-blue;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  display: none;
}
.res-button:hover {
  background-color: #1d85ca;
}

@include breakpoint-down(1630px) {
  .res-button {
    display: block;
  }
}