/* CENTER */
.center {
  max-width: 910px;
  border-left: 1px solid #cccc;
  border-right: 1px solid #cccc;
  margin-right: auto;
}
.center__header {
  position: sticky;
  z-index: 200;
  top: 0;
  @include flex(center, flex-start);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}
.center__header-back {
  display: inline-block;
  padding: 10px 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgba(29, 156, 240, 0.1);
  }
}
.center__header-person {
  margin-left: 30px;
}
.center__header-name {
  font-size: $font-size-medium;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 2px;
}
.center__header-tweets {
  line-height: 21px;
  opacity: 0.6;
  margin: 0;
}



.center__hero-bg {
  display: block;
  height: 280px;
  width: 905px;
  background-image: url("../../img/profile-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.center__hero-img {
  display: block;
  position: relative;
  top: 205px;
  left: 25px;
  border-radius: 50%;
}




.center__hero-content {
  width: 100%;
  padding: 0 25px;
  margin-top: 20px;
  @include flex(flex-start, flex-start);
  flex-direction: column;
  margin-bottom: 40px;
}
.center__hero-button {
  align-self: flex-end;
  font-size: $font-size-min;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50px; 
  transition: background-color 0.3s ease;
}

.center__hero-button:hover {
  background-color: rgba(29, 156, 240, 0.1)
}
.center__hero-name {
  font-size: $font-size-big;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  margin-top: 21px;
}
.center__hero-username {
  line-height: 21px;
  opacity: 0.6;
  margin: 0;
  margin-bottom: 15px;
}
.center__hero-position {
  font-size: $font-size-min;
  line-height: 24px;
  margin: 0;
  margin-bottom: 15px;
  &--link{
    color: $color-blue;
    text-decoration: none
  }
}

.center__hero-list {
  width: 100%;
  @include flex(center, space-between);
  flex-wrap: wrap;
  @include list-no-style;
  margin-bottom: 15px;
  gap: 20px
}
.center__hero-item {
  @include flex(center, space-between);
  &:nth-child(1)::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../../img/place.png");
    background-repeat: no-repeat;
    margin-right: 5px;
    content: "";
  }

  &:nth-child(2)::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../../img/link.png");
    background-repeat: no-repeat;
    margin-right: 5px;
    content: "";
  }
  &:nth-child(3)::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../../img/born.png");
    background-repeat: no-repeat;
    margin-right: 5px;
    content: "";
  }
  &:nth-child(4)::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../../img/kalendar.png");
    background-repeat: no-repeat;
    margin-right: 5px;
    content: "";
  }
}
.center__hero-text {
  font-size: $font-size-min;
  line-height: 24px;
  opacity: 0.6;
  margin: 0;
  
}
.center__hero-link {
  font-size: $font-size-min;
  line-height: 24px;
  text-decoration: none;
  color: $color-blue;
}

.center__hero-follow {
  @include list-no-style;
  @include flex(center, space-between)
}
.center__hero-follow-item {
  margin-right: 30px;
}
.center__hero-follow-text {
  font-size: $font-size-min;
  line-height: 24px;
  margin: 0;
  font-weight: 700;
  &--thin {
    font-weight: 400;
    opacity: 0.6;
  }
}



.center__tweets-menu {
  @include list-no-style;
  @include flex(flex-start, space-between);
  padding: 0 50px;
  border-bottom: 1px solid #cccc;
}
.center__menu-item {
  &:nth-child(1) {
    font-weight: 700;
    &::after {
      display: block;
      width: 100%;
      height: 5px;
      background: #1DA1F2;
      border-radius: 4px;
      margin-top: 10px;
      content: "";
    }
  }
}
.center__menu-link {
  text-decoration: none;
  color: #000000;
  font-size: $font-size-min;
  line-height: 24px;
  padding-bottom: 15px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.3s ease;
}
.center__menu-link:hover {
  background-color: rgba(29, 156, 240, 0.1)
}
.center__pinned {
  @include flex(center, flex-start);
  line-height: 21px;
  font-weight: 600;
  color: #536471;
  margin: 0;
  margin-left: 50px;
  padding-top: 15px;
  &::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 18px;
    background-image: url("../../img/pin.png");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }
}
.center__pinned-tweets {
  @include list-no-style
}
.center__pinned-link {
  text-decoration: none;
  color: #000000;
  @include flex(flex-start, space-between);
  padding: 0 25px;
  padding-top: 10px;
  padding-bottom: 21px;
  border-bottom: 1px solid #ccc;
}
.center__pinned-item {
  transition: background-color 0.3s ease;
}
.center__pinned-item:hover {
  background-color: rgba(29, 156, 240, 0.1);
}
.center__tweet-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.center__tweet-content {
  margin-left: 15px;
}
.center__tweet-name {
  display: inline-block;
  font-size: $font-size-medium;
  font-weight: 700;
  line-height: 27px;
  margin: 0;
  margin-bottom: 5px;
}
.center__tweet-name:hover {
  text-decoration: underline;
}
.center__tweet-span {
  font-size: $font-size-min;
  line-height: 24px;
  opacity: 0.6;
}
.center__tweet-text {
  max-width: 747px;
  font-size: $font-size-min;
  line-height: 24px;
  margin: 0;
  margin-bottom: 22px;
}
.center__tweet-list {
  @include flex(center, space-between);
  @include list-no-style
}
.like-fill {
  display: none;
  transition: all 0.3s ease
}
.center__tweet-item {
  @include flex(center, space-between);
  line-height: 21px;
  color: #536471;
  cursor: pointer;
  & > svg {
    margin-right: 10px;
    transition: all 0.3s ease;
  }
  & > svg path{
    transition: all 0.3s ease;
  }
  &:nth-child(1){
    &:hover {
      color:$color-blue;
    }
    &:hover svg {
      background-color: rgba(29, 160, 242, 0.1);
      border-radius: 50%;
      box-shadow: 0 0 0 8px rgba(29, 160, 242, 0.1);
    }
    &:hover svg path {
      fill: $color-blue
    }
  }

  &:nth-child(2){
    &:hover {
      color:#0CB245;
    }
    &:hover svg {
      background-color: rgba(12, 178, 70, 0.1);
      border-radius: 50%;
      box-shadow: 0 0 0 8px rgba(12, 178, 70, 0.1);
    }
    &:hover svg path {
      fill: #0CB245
    }
  }

  &:nth-child(3){
    &:hover {
      color:#EF1C5C;
    }
    &:hover svg {
      background-color: rgba(239, 28, 91, 0.1);
      border-radius: 50%;
      box-shadow: 0 0 0 8px rgba(239, 28, 91, 0.1);
    }
    &:hover svg path {
      fill: #EF1C5C
    }
    &:hover .like-fill{
      display: block;
    }
  }
  &:nth-child(4){
    &:hover {
      color:$color-blue;
    }
    &:hover svg {
      background-color: rgba(29, 160, 242, 0.1);
      border-radius: 50%;
      box-shadow: 0 0 0 8px rgba(29, 160, 242, 0.1);
    }
    &:hover svg path {
      fill: $color-blue
    }
  }

  &:nth-child(5){
    &:hover {
      color:#0CB245;
    }
    &:hover svg {
      background-color: rgba(12, 178, 70, 0.1);
      border-radius: 50%;
      box-shadow: 0 0 0 8px rgba(12, 178, 70, 0.1);
    }
    &:hover svg path {
      fill: #0CB245
    }
  }
  
}
.center__tweet-item-green {
  @include flex(center, space-between);
  line-height: 21px;
  color: #0CB245;
  font-weight: 600;
  &::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-image: url("../../img/retweet-fill.png");
    content: "";
  }
}

.center__tweet-item-red {
  @include flex(center, space-between);
  line-height: 21px;
  color: #EF1C5C;
  font-weight: 600;
  &::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-image: url("../../img/like-fill.png");
    content: "";
  }
}
.center__tweet-dots {
  display: inline-block;
  img {
    display: block;
    width: 17px;
    height: 4px;
  }
}

.center__tweet-big-img {
  display: block;
  width: 679px;
  height: 453px;
  margin-bottom: 22px;
}




@include breakpoint-down(1630px) {
  .center {
    width: 870px;
  }

.center__hero-bg {
  width: 100%;
  background-size: cover;
  background-position: center;
}

}


@include breakpoint-down(1300px) {
  .center {
    width: 800px;
  }
}

@include breakpoint-down(900px) {
  .center {
    width: 700px;
  }
  .center__tweet-big-img {
    width: 90%;
    height: 100%;
  }
}
@include breakpoint-down(750px) {
  .center {
    max-width: 630px;
  }



  .center__hero-img {
    width: 120px;
    height: 120px;
    top: 220px;
  }
}

@include breakpoint-down(400px) {
  .center__header {
    padding-left: 15px;
  }
  .center__hero-content {
    padding: 0 10px;
  }
  .center__tweet-name {
    margin-bottom: 0;
    line-height: 18px;
  }
  .center__tweet-span {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .center__pinned-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@include breakpoint-down(500px) {

  .center__header {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
  }
  .center__header-back {
    img {
      width: 18px;
      height: 15px;
    }
  }
  .center__header-person {
    margin-left: 15px;
  }
  .center__header-name {
    font-size: $font-size-min;
    line-height: 24px;
  }
  .center__header-tweets {
    font-size: 14px;
    line-height: 18px;
  }

  .center__hero-bg {
    height: 200px;
  }
  .center__hero-img {
    width: 100px;
    height: 100px;
    top: 150px;
  }
  .center__hero-button {
    font-size: 16px;
    line-height: 21px;
  }
  .center__hero-name {
    font-size: 22px;
    margin-top: 0px;
  }
  .center__hero-username {
    font-size: 15px;
    line-height: 19px;
  }
  .center__hero-position {
    font-size: 16px;
    line-height: 21px;
  }
  .center__hero-list {
    gap: 10px;
  }
  .center__hero-text {
    font-size: 16px;
    line-height: 21px;
  }
  .center__hero-link {
    font-size: 16px;
    line-height: 21px;
  }
  .center__hero-follow-text {
    font-size: 16px;
    line-height: 21px;
  }
  .center__tweets-menu {
    padding: 0 10px;
  }
  .center__menu-link {
    font-size: 14px;
  }
  .center__pinned-link {
    padding-left: 15px;
    padding-right: 15px;
  }
  .center__tweet-img {
    width: 40px;
    height: 40px;
  }
  .center__tweet-name {
    font-size: 18px;
  }
  .center__tweet-span {
    font-size: 16px;
  }
  .center__tweet-text {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  .center__tweet-item {
    font-size: 14px;
    margin: 0;
    & svg {
      width: 20px;
      margin-right: 5px;
    }
  }
}


