/* NAVBAR */

.navbar__list {
  @include list-no-style;
  @include flex(flex-start, center);
  flex-direction: column;
  // margin-left: 15px;
}
.navbar__reslist {
  display: none;
}
.navbar__item {
  display: inline-block;
  padding-bottom: 5px;
}

.navbar__link {
  @include flex(center, flex-start);
  text-decoration: none;
  color: #000000;
  padding: 12px 0;
  padding-left: 12px;
  padding-right: 15px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}
.navbar__item:hover .navbar__link {
  background-color: rgba(29, 156, 240, 0.1);
}

.navbar__img {
  display: block;
  width: 28px;
  height: 28px;
}

.navbar__text {
  margin-left: 20px;
  font-weight: 600;
  font-size: $font-size-min;
  line-height: 24px;
}

.bold {
  font-weight: 700;
}

@include breakpoint-down(1630px){
  .navbar__text {
    display: none;
  }
}



@include breakpoint-down(630px) {
  .navbar__reslist {
    display: block;
    width: 100%;
    @include list-no-style;
    @include flex(center, space-between);
    position: fixed;
    z-index: 100;
    bottom: 0;
    background-color: #fff;
    padding: 15px 0;
    padding-right: 70px;
    padding-left: 20px;
  }
}