/* NAVBAR */
.navbar {
}

.navbar__list {
  @include list-no-style;
  margin-left: 15px;
}

.navbar__item {
  margin-bottom: 30px;
}

.navbar__link {
  @include flex(center, flex-start);
  text-decoration: none;
  color: #000000;
}

.navbar__img {
  display: block;
  width: 28px;
  height: 28px;
}

.navbar__text {
  margin-left: 20px;
  font-weight: 600;
  font-size: $font-size-min;
  line-height: 24px;
}

.profile {
  font-weight: 700;
}