.right {
  padding-top: 20px;
  padding-left: 30px;
  margin-right: auto;
}
.right__serch-box {
  position: sticky;
  z-index: 200;
  top: 0;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.877);;
}
.right__search {
  position: relative;
  &::before {
    display: inline-block;
    position: absolute;
    top: -2px;
    left: 20px;
    width: 24px;
    height: 24px;
    background-image: url("../../img/search.png");
    content: "";
  }
}
.right__input {
  font-size: $font-size-min;
  line-height: 24px;
  color: #5C6C79;
  padding: 15px 0;
  padding-left: 64px;
  width: 380px;
  background-color: #EFF3F4;
  margin-bottom: 11px;
  border: none;
  border-radius: 31px;
  outline: none;
}
.right__images {
  max-width: 373px;
  @include list-no-style;
  @include flex(center, flex-start);
  flex-wrap: wrap;
  gap:2px;
  margin-bottom: 20px;
}

.right__item-img {
  display: block;
  width: 123px;
  height: 88px;
}



.right__recommend {
  max-width: 373px;
  padding-top: 20px;
  background-color: #F7F9F9;
  border-radius: 10px;
  margin-bottom: 20px;
}
.right__recommend-heading {
  font-size: $font-size-big;
  line-height: 32px;
  padding-left: 15px;
  margin: 0;
  margin-bottom: 15px;
}
.right__recommend-list {
  @include list-no-style
}
.right__recommend-item {

}
.right__item-link {
  width: 100%;
  @include flex(center, space-between);
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
  text-decoration: none;
  color: #000000;
  padding-left: 15px;
  transition: background-color 0.3s ease;
}
.right__item-link:hover {
  background-color: rgba(29, 156, 240, 0.1)
}
.right__recommend-content {
  @include flex(center, flex-start)
}
.right__recommend-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.right__recommend-about {
  margin-left: 13px;
}
.right__recommend-name {
  font-size: $font-size-min;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}
.right__recommend-username {
  font-size: $font-size-min;
  line-height: 24px;
  opacity: 0.6;
  margin: 0;
}
.right__recommend-btn {
  font-size: $font-size-min;
  line-height: 18px;
  color: #ffffff;
  padding: 10px 18px;
  background-color: #000000;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.right__recommend-resbtn {
  display: none;
  color: #ffffff;
  padding: 10px 12px;
  background-color: #000000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.right__recommend-link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-size: $font-size-min;
  line-height: 18px;
  color: $color-blue;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-color 0.3s ease;
}
.right__recommend-link:hover {
  background-color: rgba(29, 156, 240, 0.1);
}
.right__trends {
  max-width: 373px;
  padding-top: 20px;
  background-color: #F7F9F9;
  border-radius: 10px;
}
.right__trends-top {
  @include flex(center, space-between);
  margin-bottom: 20px;
}
.right__trends-heading {
  font-size: $font-size-big;
  line-height: 32px;
  padding-left: 16px;
  margin: 0;
}
.right__trends-setting {
  display: inline-block;
}
.right__trends-list {
  @include list-no-style
}
.right__trends-item {
  @include flex(flex-start,space-between);
}
.right__trend-link {
  text-decoration: none;
  color: #000000;
  display: block;
  width: 100%;
  @include flex(flex-start,space-between);
  padding: 8px 0;
  padding-right: 16px;
  padding-left: 16px;
  transition: background-color 0.3s ease;
}
.right__trend-link:hover {
  background-color: rgba(29, 156, 240, 0.1);
}
.right__trends-text {
  line-height: 21px;
  color: #393B41;
  opacity: 0.6;
  margin: 0;
}
.right__item-heading {
  font-size: $font-size-medium;
  line-height: 27px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 3px;
}
.right__trends-more {
  display: inline;
  margin-top: 17px;
}
.right__trends-link {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  font-size: $font-size-min;
  line-height: 18px;
  color: $color-blue;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: background-color 0.3s ease;
}
.right__trends-link:hover {
  background-color: rgba(29, 156, 240, 0.1);
}






@include breakpoint-down(1370px) {
  .right__input {
    width: 300px;
  }
  .right__images {
    display: none;
  }
  .right__recommend-btn {
    display: none;
  }
  .right__recommend-resbtn {
    display: block;
  }
}



@include breakpoint-down(1220px) {
  .right {
    display: none;
  }
}